.tabs {
    margin-top: 99px;
}

.tabs_wrapper {
    margin: 0 10px;
}

.tabs-items {
    height: 40px;
    display: flex;
}

.tab {
    width: 184px;
    height: auto;
}

.tab_none {
    flex: 1 1;
    height: auto;
    border-bottom: 1px solid #C6CBCD;
}

.tab_wrapper {
    height: auto;
    display: flex;
    margin: 0 auto;
}

.tab_radio {
    visibility: hidden;
    width: 0;
    margin: 0;
}

.tab_radio:checked + .tab_name {
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-bottom: none !important;
    border-radius: 5px 5px 0px 0px;   
}

.tab_name {
    padding: 8px 16px;
    font-family: 'Open Sans', sans-serif;;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #C6CBCD;
}

.rectangle {
    max-width: 1170px;
    height: auto;
    border: 1px solid #C6CBCD;
    border-top: none;
    display: none;
    justify-content: space-between;
}

.rectangle-active {
    display: flex;
}

.text {
    margin-left: 100px;
}

.text_title {
    margin-bottom: 27px;
}

.text_title h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    align-items: center;
    padding: 42px 0 42px;
    color: #000000;
}

.text_desc h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    white-space: pre-line;
    margin-bottom: 27px;
}

.tabs_button button {
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    margin-bottom: 54px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-transform: capitalize;
    border: none;
}

.rectengle_image  img {
    height: 100%;
}

@media  screen and (max-width: 1024px) {
    .tabs {
        margin-top: 50px;
    }

    .tabs-items {
        height: 39px;
    }
    
    .tab {
        width: 156px;
    }

    .tab_none {
        height: 40px;
    }
    
    .rectangle {
        max-width: 992px;
    }

    .rectangle_text-description {
        max-width: 594px;
        margin-right: 26px;
    }
    
    .text {
        max-width: 594px;
        margin-left: 85px;
    }

    .text_title h3 {
        font-size: 24px;
        line-height: 33px;
        padding: 28px 68px 28px 0;
        margin-bottom: 38px;
    }
    
    .text_desc {
        margin-bottom: 38px;
    }

    .text_desc h5 {
        font-size: 14px;
        line-height: 16px;
        display: flex;
        padding: 0;
    }

    .tabs_button button {
        width: 232px;
        margin-bottom: 50px;
        margin-left: 0;
    }
    
    .rectengle_image  img {
        max-width: 397px;
        margin-left: auto;
    }
}

@media screen and (max-width: 960px) {
    .text {
        margin-left: 20px;
    }
}

@media screen and (max-width: 960px) {
    .rectangle_text-description {
        max-width: 100%;
    }

    .rectengle_image  img {
        max-height: 100%;
    }
}

@media screen and (max-width: 800px) {
    .text_title h3 {
        margin-bottom: 0;
    }
    
    .text_desc {
        max-height: none;
    }
}

@media screen and (max-width: 768px) {
    .text {
        max-width: 394px;
    }

    .rectengle_image  img {
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .text_title h3 {
        font-size: 20px;
        line-height: 29px;
    }

    .text_desc {
        margin-bottom: 20px;
    }

    .text_desc h5 {
        font-size: 13px;
        line-height: 15px;
    }    

    .tabs_button button {
        margin-bottom: 20px;
        max-height: 50px;
    }
}

@media screen and (max-width: 576px) {
    .rectengle_image  img {
        display: none;
    }

    .rectangle_text-description {
        margin: auto;
    }

    .text {
        margin: 0;
        padding: 0 5px;
    }

    .text_title h3 {
        text-align: center;
        padding-right: 0;
    }

    .text_desc h5 {
        text-align: center;
        white-space: inherit;
    }    

    .tabs_button {
        text-align: center;
    }
}

@media  screen and (max-width: 320px) {
    .tabs {
        margin-top: 41px;
    }
    
    .tab {
        width: 96px;
    }

    .tab_none {
        display: none;
    }
    
    .rectangle {
        max-width: 288px;
    }

    .text_title h3 {
        font-size: 18px;
        line-height: 25px;
        padding: 44px 0;
        margin-bottom: 29px;
        text-align: center;
    }
    
    .text_desc {
        max-height: 180px;
        margin-bottom: 29px;
    }

    .tabs_button button {
        width: 243px;
        margin-bottom: 30px;
    }
}